body {
  height: 95vh;
  background-image: url("/images/image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_text {
  display: flex;
  justify-content: center;
  font-family: "Nunito";
  font-size: 40px;
  font-weight: bold;
  color: #d14d72;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
 
/* image */

.marquee {
  overflow: hidden;
  width: 100%;
  background: #f9f9f9;
  padding: 20px 0;
}

.marquee-track {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.marquee img {
  width: 60px;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.marquee img:hover {
  opacity: 1;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* image-end */


#noButton {
  position: absolute;
  margin-left: 150px;
  transition: 0.5s;
}

#yesButton {
  position: absolute;
  margin-right: 150px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  background-color: #ffffff;
  color: rgb(233, 48, 48);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.gif_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
  body {
    height: 100vh;
  }

  .header_text {
    font-size: 20px;
  }

  img {
    height: 60vh;
  }

  .btn {
    padding: 10px 18px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
  body {
    height: 90vh;
  }

  .header_text {
    font-size: 28px;
  }

  img {
    height: 60vh;
  }

  .btn {
    padding: 15px 25px;
    font-size: 14px;
  }
}
