body {
  margin: 0;
  padding: 0;
  height: 95vh;
  background-image: url("/images/image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_text {
  display: flex;
  justify-content: center;
  font-family: "Nunito";
  font-size: 40px;
  font-weight: bold;
  color: #d14d72;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}


.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 20px;
}

.slider {
  width: 250px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border: #d14d72 2px solid;
  border-radius: 10px
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}
















/* 
.buttons {
  position: relative; 
  display: flex;
  align-items: center;
  margin-top: 30px;
}

#yesButton {
  position: relative; 
  z-index: 2;
}

#noButton {
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}



.btn {
  background-color: #FCC8D1 ;
  color: rgb(233, 48, 48);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
} */

@media only screen and (max-width: 320px) and (max-height: 568px) {
  body {
    height: 100vh;
  }

  .header_text {
    font-size: 20px;
  }

  img {
    height: 60vh;
  }

  .btn {
    padding: 10px 18px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
  body {
    height: 90vh;
  }

  .header_text {
    font-size: 28px;
  }

  img {
    height: 60vh;
  }

  .btn {
    padding: 15px 25px;
    font-size: 14px;
  }
}
